.liczenie-liczb {
    background: rgb(34,193,195);
    background: linear-gradient(40deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border-style: double;
    border-color: red;
    border-radius: 10px;
    border-width: 6px;

}

.pierwiastek{
    background:#682AD5;
    color: black;
    border-style: solid;
    border-color: rosybrown;
    border-radius: 5px;
    border-width: 3px;

}
.pola{
    background: rgb(214,47,191);
    background: linear-gradient(-30deg, rgba(214,47,191,1) 0%, rgba(250,80,2,1) 100%);
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 3px;

}
.trasiwo
{
    background: rgb(232,238,174);
    background: radial-gradient(circle, rgba(232,238,174,1) 7%, rgba(157,104,231,1) 100%);
    border-style: dashed;
    border-color: black;
    border-radius: 5px;
    border-width: 3px;

} 
.bank
{
    background:#DCD06F;
    border-style:groove;
    border-color: black;
    border-radius: 5px;
    border-width: 3px;

}
